.add-account-page {
  background-image: url('../../images/background-login.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-account-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.add-account-title {
  margin-bottom: 1rem; /* Giảm khoảng cách phía dưới tiêu đề */
  color: #333;
}

.add-account-form .ant-form-item {
  margin-bottom: 0.8rem; /* Giảm khoảng cách giữa các form item */
}

.add-account-form .ant-input,
.add-account-form .ant-input-password,
.add-account-form .ant-select {
  height: 40px; /* Giảm chiều cao ô nhập liệu */
  border-radius: 5px;
}

.add-account-button {
  width: 100%;
  height: 40px; /* Giảm chiều cao nút */
  background-color: #0c0f12;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
}

.back-to-list-button {
  width: 100%;
  height: 40px; /* Giảm chiều cao nút */
  margin-top: 0.5rem;
  border-radius: 5px;
}

.already-have-account {
  text-align: center;
  margin-top: 8px; /* Giảm khoảng cách phía trên */
  
  span {
    font-size: 14px;
    color: #333;
  }

  .ant-btn-link {
    font-size: 16px;
    color: #000000;
    text-decoration: underline;

    &:hover {
      color: #cc924f;
    }
  }
}
