.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 50%;
    background: linear-gradient(
      358.3deg,
      rgb(255, 82, 168) 12.9%,
      rgb(177, 118, 240) 134.3%
    );
  
    &-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
  
    .sidebar-title {
      margin-left: 10px;
      font-size: 15px;
      font-weight: 0;
    }
  }
  
  .logo-sidebar {
    width: 50px;
    border-radius: 25%;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1px;
    margin-top: 15px;
  }
  
  .ant-layout-slider {
    padding-top: 15px !important;
  }
  
  .ant-menu {
    background: transparent;
  }
  
  .ant-menu-item {
    background: transparent !important;
  }
  
  .ant-menu-item-only-child {
    display: flex !important;
    justify-content: center !important;
  }
  
  .ant-menu-item a {
    color: white !important;
  }
  
  .ant-menu-title-content a {
    color: white !important;
  }
  
  .ant-menu-item-selected {
    background: rgba(255, 255, 255, 0.2) !important;
  }